Source: dm2k
Section: non-free/x11
Priority: extra
Maintainer: Ralph Lange <Ralph.Lange@gmx.de>
Build-Depends: debhelper (>= 9), epics-debhelper (>= 8.7~),
               epics-dev (>= 3.14.11-2),
               epics-extensions-dev (>= 20130514.2~),
               libmotif-dev, libxt-dev, libxmu-dev,
               libxp-dev, libx11-dev,
               libxpm-dev [i386], ssh [i386]
Standards-Version: 3.9.4

Package: libdm2k2.6.2
Section: non-free/libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Motif Display Manager for EPICS Private Libraries
 A Motif display manager (GUI) for the EPICS control system.
 .
 This package contains private shared libraries for dm2k,
 that are used by dm2k-jpt and dm2k-xrt.

Package: libdm2k2.6.2-dev
Section: non-free/libdevel
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Motif Display Manager for EPICS Private Libraries (Development)
 A Motif display manager (GUI) for the EPICS control system.
 .
 This package contains development versions of the private shared
 libraries for dm2k, that are used by dm2k-jpt and dm2k-xrt.

Package: dm2k-jpt
Architecture: any
Depends: libdm2k2.6.2 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Provides: dm2k
Recommends: xfonts-75dpi
Description: Motif Display Manager for EPICS (using Jpt Plotting Library)
 A Motif display manager (GUI) for the EPICS control system.
 .
 dm2k was forked off the medm display manager in 1993.
 This variant uses the free Jpt plotting library as a drop-in for XRT/graph.

Package: dm2k-jpt-dev
Section: non-free/devel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         dm2k-jpt (= ${binary:Version}), libdm2k2.6.2-dev (= ${binary:Version}),
         epics-dev (>= 3.14.11-2),
         epics-extensions-dev (>= 20130514.2~),
         libmotif-dev, libxt-dev, libxmu-dev,
         libxp-dev, libx11-dev
Description: Motif Display Manager for EPICS (using Jpt Plotting Library, Development)
 A Motif display manager (GUI) for the EPICS control system.
 .
 Development libraries and headers for the variant that uses the free
 Jpt plotting library as a drop-in for XRT/graph.

Package: dm2k-xrt
Architecture: i386
Depends: libdm2k2.6.2 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Provides: dm2k
Recommends: xfonts-75dpi
Description: Motif Display Manager for EPICS (using XRT/graph Plotting Library)
 A Motif display manager (GUI) for the EPICS control system.
 .
 dm2k was forked off the medm display manager in 1993.
 This variant uses the commercial XRT/graph plotting library.

Package: dm2k-xrt-dev
Section: non-free/devel
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends},
         dm2k-xrt (= ${binary:Version}), libdm2k2.6.2-dev (= ${binary:Version}),
         epics-dev (>= 3.14.11-2),
         epics-extensions-dev (>= 20130514.2~),
         libmotif-dev, libxt-dev, libxmu-dev,
         libxp-dev, libx11-dev
Description: Motif Display Manager for EPICS (using XRT/graph Plotting Library, Development)
 A Motif display manager (GUI) for the EPICS control system.
 .
 Development libraries and headers for the variant that uses the
 commercial XRT/graph plotting library.
